---
layout: splash
title: "Teaching"
permalink: /teaching/
author_profile: true
excerpt: "I enjoy teaching most of the time"
header:
  overlay_image: teachingANNs_banner.jpg
  overlay_filter: rgba(255, 255, 255, 0.25) # same as adding an opacity of 0.5 to a black background
---

<!--
<p style="margin-top:-1.0cm;margin-bottom:0cm;">
<img src="/images/teaching_header.jpg" alt="teaching artificial neural networks" width="60%">
</p>

<p style="margin-top:-1.5cm;margin-bottom:0cm;">
<h1 class="page__title">&nbsp {{ page.title }}</h1>
</p>
-->

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
