---
layout: default
---

<!-- uncomment for full-page overlay
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}
-->
<style>
  .header-image-container {
   position: relative;
   width: 100%;
   aspect-ratio: 2
   background-image: url("{{ page.header.overlay_image }}");
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: top center;
  }
  .header-image-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: {{ page.header.overlay_filter }};
   background-position: center;
  }
</style>

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% if page.header.overlay_color or page.header.overlay_image %}
      <div class="header-image-container">
        <div class="header-image-overlay">
          <h1 class="page__title">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    {% else %}
      <h1 class="page__title">{{ page.title }}</h1>
      {{ content }}
    {% endif %}
  </div>
  
<!-- 
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
-->
  
</div>
